[submodule "Submodules/vcpkg"]
	path = Submodules/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "Submodules/SDL"]
	path = Submodules/SDL
	url = https://github.com/XITRIX/SDL.git
[submodule "Submodules/yoga"]
	path = Submodules/yoga
	url = https://github.com/facebook/yoga.git
[submodule "Submodules/skia"]
	path = Submodules/skia
	url = https://github.com/google/skia.git
