[submodule "Submodules/vcpkg"]
	path = Submodules/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "Submodules/thorvg"]
	path = Submodules/thorvg
	url = https://github.com/thorvg/thorvg.git
